data/masks
data/masks_hair_removed
data/imgs
data/binary_masks
data/masks_biggest_component
data/masks_top3_split_components

data/hair_removal_masks
data/imgs_hair_removed
data/plots

results/figures/figure_x_pipeline.png
results/figures/figure_hair_removal.png
